[user]
	name = IkezoeMakoto
	email = 150283t@gmail.com
[color]
	ui = true
[alias]
    st = status
    co = checkout
    ci = commit
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    br = checkout -b
    pu = push origin $(git symbolic-ref --short HEAD)
[push]
	default = simple
