[user]
	name = IkezoeMakoto
	email = 150283t@gmail.com
[color]
	ui = true
[alias]
	st = status
	s  = switch
	ch = !echo "git switch/restore をつかってね !"
	cb = checkout -b
	co = commit
	br = branch
	dc = diff --cached
	pl = pull --prune
	ph = push origin HEAD
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	# http://qiita.com/hajimeni/items/73d2155fc59e152630c4
	clean-local = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
	clean-remote = remote prune origin
	rm-work = !git add -A && git co -m 'tmp' && git reset --hard @^
	renew = "!f() { git fetch origin $1 && git reset --hard origin/$1; }; f"

	# https://rcmdnk.com/blog/2017/10/02/comptuer-git/
	as = "\
!f() {\
	if [ \"$#\" -eq 0 ];then \
		git config --name-only --get-regexp ^alias\\.|cut -d"." -f2|sort|column;\
		return;\
	fi;\
	ret=0;\
	for a in \"$@\";do \
		git config --get-regexp ^alias\\.\"$a\"$;\
		rettmp=$?;\
		if [ $rettmp != 0 ];then \
			ret=$rettmp;\
			printf \"\\e[31malias.$a is not defined as alias\\n\\e[m\";\
		fi;\
	done;\
	return $ret;\
};f"
[push]
	default = simple
[fetch]
    prune = true
[pull]
    ff = only
[rebase]
    autostash = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
	quotepath = false
[ghq]
	root = ~/src
[init]
	defaultBranch = main
