[user]
	name = IkezoeMakoto
	email = 150283t@gmail.com
[color]
	ui = true
[alias]
	st = status
	s  = switch
	ch = checkout
	cb = checkout -b
	co = commit
	br = branch
	dc = diff --cached
	pl = pull --prune
	ph = push origin HEAD
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	# http://qiita.com/hajimeni/items/73d2155fc59e152630c4
	clean-local = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
	clean-remote = remote prune origin
	rm-work = !git add -A && git co -m 'tmp' && git reset --hard HEAD^

	# http://qiita.com/ktty1220/items/d1daf4357ed5f5ceae69
	as = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
  rm-work = !git add -A && git co -m 'tmp' && git reset --hard @^
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[ghq]
	root = ~/src
